<ion-view>
  <ion-content>
    <h1>restaurant sign up here!</h1>
    <h2>Registration Form</h2>
      <div>
        <label>First Name</label>
        <input type='text' ng-model='firstName'><br/>
        <label>Last Name</label>
        <input type='text' ng-model='lastName'><br/>
        <label>Email</label>
        <input type='text' ng-model='email'><br/>
        <label>Restaurant Name</label>
        <input type='text' ng-model='restaurantName'><br/>
        <label>Phone</label>
        <input type='text' ng-model='phone'><br/>
        <label>Password</label>
        <input type='password' ng-model='password'><br/>
        <label>City</label>
        <input type='text' ng-model='city'><br/>
        <label>State</label>
        <input type='text' ng-model='state'><br/>
        <label>Zip Code</label>
        <input type='text' ng-model='zip'><br/>
        <button type='submit' ng-click='addUser(firstName, lastName, email, restaurantName, phone, password, city, state, zip)'>Register</button>
        <a href='./signin.html'>
      </div>
  </ion-content>
</ion-view>
