<ion-view>
  <ion-content>
<!--     <form class="patron-form"> -->

      <div class="list list-inset">

        <label class="item item-input">
          <input type="text" ng-model="firstName" placeholder="First Name" required>
        </label>

        <label class="item item-input">
          <input type="text" ng-model="lastName" placeholder="Last Name" required>
        </label>

        <label class="item item-input">
          <input type="email" ng-model="email" placeholder="Email" required>
        </label>

        <label class="item item-input">
          <input type="text" ng-model="cellPhone" placeholder="Cell Phone" required>
        </label>

        <label class="item item-input">
          <input type="password" ng-model="password" placeholder="Password" required>
        </label>

      </div>

      <div class="list item-input-inset">

        <button class="button button-block button-royal" type="submit" ng-click="addUser(firstName, lastName, email, phoneNumber, password)">
          Sign Up
        </button>

      </div>




     <!--  <p>
        <label>First Name</label>
        <input type="text" ng-model="firstName" placeholder="First Name" required>
      </p>

      <p>
        <label>Last Name</label>
        <input type="text" ng-model="lastName" placeholder="Last Name" required>
      </p>

      <p>
        <label>Email</label>
        <input type="text" ng-model="email" placeholder="Email" required>
      </p>

      <p>
        <label>Cell Phone</label>
        <input type="text" ng-model="cellPhone" placeholder="Cell phone number" required>
      </p>

      <p>
        <label>Password</label>
        <input type="password" ng-model="password" placeholder="Password" required>
      </p>

      <p>
        <input type="submit" ng-click="addUser(firstName, lastName, email, phoneNumber, password)" value="Sign Up">
      </p>
    </form> -->
  </ion-content>
</ion-view>
