<ion-view>
    <div class="bar bar-header bar-stable">
      <button class="button button-icon icon ion-navicon"></button>
      <div class="h1 title">{{restaurant.restaurant_name}}</div>
      <button class="button button-clear ion-refresh"></button>
    </div>

  <ion-content>

    <body>
      <div class="card restaurant-main">

        <h2 ng-if="error">{{error}}</h2>

        <h3 class="wait-list-header">Waiting List</h3>

        <div class="add-time">
          <h4>Add Time:</h4>

          <select type="text" ng-model="uiState.party_size" class="party-size-dropdown">
            <option value="2">Party Size 1-2</option>
            <option value="4">Party Size 3-4</option>
            <option value=5>Party Size 5+</option>
          </select>

          <button ng-click="addTime()" class="plus-5">+5</button>

          <button ng-click="subtractTime()" class="minus-5">-5</button>
        </div>

        <table class="table">
          <tr>
            <th>Name</th>
            <th >Party size</th>
            <th>Wait time</th>
            <th>Table Ready</th>
            <th>Remove</th>
          </tr>
          <tr ng-repeat="reservation in reservations">
                <td>{{reservation.first_name}} {{reservation.last_initial}}.</td>
                <td>{{reservation.party_size}}</td>
                <td>{{reservation.minutes}}:00</td>
            <div ng-show="tableReady">
              <div>
                <!-- <p>Table is Ready</p> -->
              </div>
              <button ng-click='cancelTableReady()'>Cancel</button>
              <button ng-click='confirmTableReady()'>Send Alert</button>
            </div>
            <td ng-hide='reservation.table_ready == "t"' ><button ng-click="initTableReady(reservation)" class="ready"><i class="ion-checkmark-round"></i></button></td>
            <div ng-show="reservationToRemove">
              <div>
                <p>Remove from Wait List</p>
              </div>
              <button ng-click='cancelReservationRemoval()'>Cancel</button>
              <button ng-click='confirmReservationRemoval()'>Remove</button>
            </div>
            <td><button ng-click="initRemove(reservation)" class="remove"><i class="ion-close-round"></i></button></td>
          </tr>
        </table>

      </div>

      <div class="card add-reservation">

        <h3 class="reservations-header">New Party</h3>
        <button ng-click="initNewReservation()" class="button button-small new-party"><i class="ion-plus"></i></button>

        <div ng-show="newReservation" class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-iphone"></i>
            <input type="text" ng-model="newReservation.cell_phone" placeholder="Cell phone number">
        </div>

      <div ng-show="newReservation" class="item item-text-wrap">
        <p>Party size:
          <select type="number" ng-model="newReservation.party_size">
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5+</option>
          </select>

        Wait time:
          <select type="number" ng-model="newReservation.minutes">
            <option value=10>10</option>
            <option value=15>15</option>
            <option value=20>20</option>
            <option value=25>25</option>
            <option value=30>30</option>
            <option value=35>35</option>
            <option value=40>40</option>
            <option value=45>45</option>
            <option value=50>50</option>
            <option value=55>55</option>
            <option value=60>60</option>
          </select>
        </p>

          <button type="submit" ng-click="addReservation()">Add</button>

          <button type="submit" ng-click="cancelAddReservation()">Cancel</button>
        </div>




      </div>
    </body>
  </ion-content>
</ion-view>