<ion-view>
  <ion-content>
    <head>
      <!-- <link rel="stylesheet" href="patron.css"> -->
    </head>
    <body>
      <div class="card">
        <h2>{{restaurant.restaurant_name}}</h2>

        <button ng-click="showAddForm()" class="button button-small button-calm">Add Reservation</button>

        <h4 id="error"></h4>

        <div ng-show="addForm" class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-iphone"></i>
            <input type="text" ng-model="cellPhone" placeholder="Cell phone number">
        </div>

      <div class="item item-text-wrap">
        <p>Party size:
          <select type="number" ng-model="numberOfPeople">
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
          </select>

        Wait time:
          <select type="number" ng-model="minutes">
            <option value=10>10</option>
            <option value=15>15</option>
            <option value=20>20</option>
            <option value=25>25</option>
            <option value=30>30</option>
            <option value=35>35</option>
            <option value=40>40</option>
            <option value=45>45</option>
            <option value=50>50</option>
            <option value=55>55</option>
            <option value=60>60</option>
          </select>
        </p>

          <button type="submit" ng-click="addReservation(cellPhone, numberOfPeople, minutes)">Add</button>

          <button type="submit" ng-click="cancelAddReservation()">Cancel</button>
        </div>

        <h4>Add Time:</h4>

        <label>Party Size: </label>
        <select type="text" ng-model="uiState.party_size">
          <option value="2">1-2</option>
          <option value="4">3-4</option>
        </select>

        <button ng-click="addTime()">+5</button>

        <button ng-click="subtractTime()">-5</button>


        <h3>Waiting List:</h3>

        <table>
          <tr ng-repeat="reservation in reservations">
            <td>{{reservation.first_name}}</td>
            <td>{{reservation.last_initial}}</td>
            <td>{{reservation.party_size}}</td>
            <td>{{reservation.minutes}}:00</td>
            <td><button ng-click="seated(reservation)"><i class="fa fa-check"></i>Send Alert</button></td>
            <td><button ng-click="remove(reservation)"><i class="fa fa-times"></i>Remove</button></td>
          </tr>
        </table>
      </div>

    </body>
  </ion-content>
</ion-view>
