/*=========== LANDING PAGE ===========  */
body {
  font-family: "Lato";
}

ion-content {
  background-color: #BCBCBC;
}

.sign-up-link {
  padding-top: 15%;
  text-align: center;
}

a {
  color: #272727;
}


img {
  display: block;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 150px;
}


.patron-card {
  background-color: #8A6DE9;
  margin: 75px 50px 0 50px;
  border: 1px solid #737373;
  padding-top: 10px;
}

.restaurant-card {
  background-color: #007A7A;
  margin: 50px 50px 0 50px;
  border: 1px solid #737373;
  padding-top: 10px;
}


h3 {
  color: #272727;
}

.card {
  text-align: center;
}

a {
  text-decoration: none;
}


/*=========== PATRON SIGN UP ===========  */

.button {
  background-color: #7C53CF;
}



/*=========== PATRON MAIN ===========  */

.patron-main {
  padding-top: 20px;
}

.button-patron-main {
  margin: 20px 0 20px 0;
}

.contact {
  margin-bottom: 20px;
}
