/*=========== LANDING PAGE ===========  */
body {
  font-family: "Lato";
}

ion-content {
  background-color: #F5F2EC;
}

.sign-up-link {
  padding-top: 15%;
  text-align: center;
}

a {
  color: #272727;
}

img {
  display: block;
  margin-top: 25%;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 150px;
}

.patron-card {
  /*background-color: #E3EAF1;*/
  margin: 50px 50px 0 50px;
  border: 1px solid gray;
  padding-top: 10px;
  opacity: .8;
}

.restaurant-card {
  /*background-color: #FF4C92;*/
  margin: 40px 50px 0 50px;
  border: 1px solid #737373;
  padding-top: 10px;
  opacity: .8;
}

h3 {
  color: #A75EFF;
}

.card {
  text-align: center;
}

a {
  text-decoration: none;
}

/*=========== PATRON SIGN UP ===========  */

.button {
  background-color: #A75EFF;
  font-size: 20px;

}

.sign-up-link {
  margin-top: -20px;
}

.sign-up {
  margin-top: 20%;
}

/*=========== PATRON SIGN-IN ===========  */

.sign-in {
  margin-top: 20%;
}


/*=========== PATRON NO WAIT LIST===========  */

.no-wait-list {
  text-align: center;
  color: #A75EFF;
}

.no-wait-container {
  border: 3px solid #666A6E;
  background-color: white;
  opacity: .5;
  padding: 45px;
  margin: 8%;
}


/*=========== PATRON MAIN ===========  */

.restaurant-name {
  margin-top: 10%;
  padding: 0px 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
}

.patron-main {
  margin-top: 40%;
  padding-top: 15px;
  padding-bottom: 25px;
  opacity: .8;
  margin-left: 5%;
  margin-right: 5%;
}

.wait-time-header {
  margin-top: 20px;
  margin-bottom: 70px;
}

.wait-time {
  color: black;
}

.parties-ahead {
  margin-top: 80px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 25px;
}

.timer {
  font-size: 55px;
  font-weight: bold;
  color: #A75EFF;
}

.button-patron-main {
  margin-top: 15px;
  padding: 0px 10px;
  font-weight: bold;
  font-size: 15px;
}


.you-sure {
  margin-top: 20px;
  font-size: 16px;
}


/*=========== PATRON TABLE IS READY ALERT ===========  */

.table-ready-container {
  border: 3px solid #666A6E;
  background-color: white;
  opacity: .5;
  padding: 45px;
  margin: 8%;
}
